<!--   films block-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-6 films">
            <h4 class="films--header">{{ titleNew }}</h4>
            <div class="film" *ngFor="let filmNew of filmsNew" data-id="{{ filmNew._id }}" (click)="clickFilm(filmNew, 'just filmNew')">
                <a [routerLink]="['/film-details', filmNew._id]" >
                    <img src="{{ filmNew.posterSmall }}" class="center-block" alt="{{ filmNew.name }}">
                    <div class="year text-left small">{{ filmNew.year }}</div>
                    <div class="title text-left" title="{{ filmNew.name }}">{{ filmNew.name }}</div>
                </a>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 films">
            <h4 class="films-header">{{ titlePopular }}</h4>
            <div class="film" *ngFor="let filmPopular of filmsPopular" data-id="{{ filmPopular._id }}" (click)="clickFilm(filmPopular, 'just filmPopular')">
                <a [routerLink]="['/film-details', filmPopular._id]" >
                    <img src="{{ filmPopular.posterSmall }}" class="center-block" alt="{{ filmPopular.name }}">
                    <div class="year text-left small">{{ filmPopular.year }}</div>
                    <div class="title text-left" title="{{ filmPopular.name }}">{{ filmPopular.name }}</div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--   films block end -->
